body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --chakra-fonts-body: 'Open Sans', sans-serif;
  --chakra-fonts-heading: 'Open Sans', sans-serif;
}